---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout titre="Accueil">
	<h1 class="flex font-black text-9xl justify-center items-center p-30">
		Accueil
	</h1>
	<p class="flex font-extralight text-2xl justify-center items-center p-10">
		Bienvenue sur notre page d'accueil.
	</p>
	<p class="flex font-extralight text-sm p-10">
		Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium
		grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur
		Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
		tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat
		inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter
		agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari
		fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se
		fore contemplans, non nisi luce palam egrediens ad agenda quae putabat
		seria cernebatur. et haec quidem medullitus multis gementibus agebantur.
		Ultima Syriarum est Palaestina per intervalla magna protenta, cultis
		abundans terris et nitidis et civitates habens quasdam egregias, nullam
		nulli cedentem sed sibi vicissim velut ad perpendiculum aemulas:
		Caesaream, quam ad honorem Octaviani principis exaedificavit Herodes, et
		Eleutheropolim et Neapolim itidemque Ascalonem Gazam aevo superiore
		exstructas. Quod si rectum statuerimus vel concedere amicis, quidquid
		velint, vel impetrare ab iis, quidquid velimus, perfecta quidem
		sapientia si simus, nihil habeat res vitii; sed loquimur de iis amicis
		qui ante oculos sunt, quos vidimus aut de quibus memoriam accepimus,
		quos novit vita communis. Ex hoc numero nobis exempla sumenda sunt, et
		eorum quidem maxime qui ad sapientiam proxime accedunt.
	</p>
</Layout>
