---
import "../styles/global.css";
---

<div class="gap-5 text-white bg-gray-800 p-4">
    <h1 class="font-bold text-2xl">Bienvenue dans le footer</h1>
    <p class="font-extralight">Ceci est un footer.</p>
    <div class="flex gap-3 text-gray-400 items-center justify-center mt-5">
        <a
            class="font-extralight text-sm hover:text-gray-200"
            href="../pages/Accueil">Accueil</a
        >
        |
        <a
            class="font-extralight text-sm hover:text-gray-200"
            href="../pages/Offres">Offres</a
        >
    </div>
</div>
