---
import "../styles/global.css";
---

<nav
    class="flex gap-5 text-white font-bold bg-gray-800 p-4 align-center justify-center"
>
    <a
        class="bg-gray-700 p-2 rounded-sm pl-10 pr-10 hover:bg-gray-500 hover:scale-110 transition-transform"
        href="/">Accueil</a
    >
    <a
        class="bg-gray-700 p-2 rounded-sm pl-10 pr-10 hover:bg-gray-500 hover:scale-110 transition-transform"
        href="/offres">Offres</a
    >
</nav>
