---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Layout.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.NomMaison}>
    <h2>{offre.NomMaison}</h2>
    <ul>
        <li>{offre.Adresse}</li>
        ...
    </ul>
</Base>
