---
import { addOffre } from "../../backend.mjs";
import Base from "../../layouts/Layout.astro";

let message = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---

<Base titre="Ajouter une offre">
    <div class="p-4">
        <h1 class="font-bold text-5xl">Ajouter une offre</h1>
        <form
            action="/offres/add"
            method="POST"
            enctype="multipart/form-data"
            class="space-y-3 mt-4"
        >
            <input
                type="text"
                name="NomMaison"
                placeholder="Nom de la maison"
                required
                class="w-full mt-2 p-2 border border-gray-300 rounded-md"
            />
            <input
                type="number"
                name="Prix"
                placeholder="Prix"
                class="w-full p-2 border border-gray-300 rounded-md"
            />
            <input
                type="number"
                name="nbSdb"
                placeholder="Nombre de salles de bain"
                class="w-full p-2 border border-gray-300 rounded-md"
            />
            <input
                type="number"
                name="nbChambres"
                placeholder="Nombre de chambres"
                class="w-full p-2 border border-gray-300 rounded-md"
            />
            <input
                type="number"
                name="Surface"
                placeholder="Superficie"
                class="w-full p-2 border border-gray-300 rounded-md"
            />
            <input
                type="file"
                name="Images"
                class="w-full p-2 border border-gray-300 rounded-md"
            />
            <button
                type="submit"
                class="w-full bg-slate-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-slate-700 mt-4"
                >Ajouter</button
            >
        </form>
        <p class="text-red-500 mt-2">{message}</p>
    </div>
</Base>
