---
import { addOffre } from "../../backend.mjs";
import Base from "../../layouts/Layout.astro";

let message = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---

<Base titre="Ajouter une offre">
    <div class="p-4">
        <h1 class="font-bold text-5xl">Ajouter une offre</h1>
        <form action="/offres/add" method="POST" enctype="multipart/form-data">
            <input
                type="text"
                name="NomMaison"
                placeholder="Nom de la maison"
                required
                class="w-full mt-2 p-2 border border-gray-300 rounded-md"
            />
            <input type="number" name="Prix" placeholder="Prix" />
            <input
                type="number"
                name="nbSdb"
                placeholder="Nombre de salles de bain"
            />
            <input
                type="number"
                name="nbChambres"
                placeholder="Nombre de chambres"
            />
            <input type="number" name="Surface" placeholder="Superficie" />
            <input type="file" name="Images" />
            <button type="submit">Ajouter</button>
        </form>
        <p class="text-red-500 mt-2">${message}</p>
    </div>
</Base>
